*{margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
label,input,textarea{
    display:block;
    padding: 10px;
    margin: 5px;
}
.formu{
text-align: center;
margin: 30px;
}
input{
    border-radius: 5px;
    padding: 10px;
    margin-left: 12px;

}
.camposexo{
    display: inline;
    margin-bottom: 15px;
}
header{
    background-color: rgb(95, 95, 236);
    padding: 15px;
    color: aliceblue;
    text-align: center;
    }
nav{
background-color:rgb(95, 95, 236) ;
padding: 10px;
text-align: center;
color: aliceblue;
    }
    a{
        padding: 10px;
    color: aliceblue;
    text-decoration: none;
}
    fieldset{
        margin: 80px;
        margin-top: 10px;
        background-color: rgb(95, 95, 236) ;
        border-radius: 5px;
        color: aliceblue;
    }
    .enviar{
        padding: 10px;
        margin: auto;
        width: 200px;
        height: 50px;
        font-size: 13pt;
    }
    legend{
        text-align: center;
    }
    .titulo{
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        
    }
    textarea{
        margin-left: 12px;
    }